.row-container {
    width: 100%;
    margin: 1px;
    background-color: transparent;
}

.open {
    background-color: black;
    color: white;
}

.edit-container-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}